.App {
  display: grid;
  place-items: center;
  background-color: #dadbd3;
  height: 100vh;
}
.app__body {
  display: flex;
  background-color: white;
  margin-top: -50px;
  height: 90vh;
  box-shadow: 11px 0px 64px -1px rgba(0, 0, 0, 0.66);
}
